apiVersion: apps/v1
kind: Deployment
metadata:
  name: drone-fleet
spec:
  replicas: 3
  selector:
    matchLabels:
      app: drone
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  template:
    metadata:
      labels:
        app: drone
    spec:
      containers:
      - name: drone
        image: drone-app:v1
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        readinessProbe:
          tcpSocket:
            port: 8080
          initialDelaySeconds: 5
          periodSeconds: 2
---
apiVersion: v1
kind: Service
metadata:
  name: drone-service
spec:
  selector:
    app: drone
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: LoadBalancer